@model ServiceDesk.Models.ViewModels.ChangePasswordViewModel
<body>


    @{
        ViewData["Title"] = "Change password";
     
    }

    <form asp-action="ChangePassword" asp-controller="ChangePassword" method="post" class="form-horizontal" role="form">
        <div class="p-3 mt-3 border rounded">
            <div class="h8 py-2 text-uppercase">Enter your old and new password</div>

            <div class="form-group row">
                <label asp-for="OldPassword" class="col-2 control-label">Old password</label>
                <div class="col-5">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NewPassword" class="col-2 control-label">New password</label>
                <div class="col-5">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ConfirmPassword" class="col-2 control-label">Confirm password</label>
                <div class="col-5">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <div class="btn-group" role="group">
                    <input type="submit" class="btn btn-outline-success" value="Submit" />
                    <a asp-area="RequestConfig" asp-controller="Requests" asp-action="Index" class="btn btn-outline-primary">Cancel</a>
                </div>
            </div>

        </div>
    </form>

    @section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

